/* Styles */
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: auto;
  max-width: 1100px;
  margin: 0 auto;
}

a.active {
  /*color: orange;*/
}

nav {
  padding-top: 20px;
}

.spotify-track-item{
  border-bottom: 1px darkslategray solid;
  padding-bottom: 10px;
}

.form {
  width: 60%;
}

.error {
  color: red;
}

.action-btn{
    margin-top: 15px !important;
    margin-bottom: 15px !important;
    height: 50px;
    border-radius: 15px;
    padding: 20px !important;
    font-size: 18px;
    line-height: 24px;
}
.logout-btn{
    padding-left: 15px !important;
    padding-right: 15px !important;
}