/* Styles */
@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather|Open+Sans|Open+Sans+Condensed:300|Raleway');

//== Media queries breakpoints
// Small screen / tablet USE THIS ONE.
$screen-sm:                  540px !default; //em($sm-num, $font-size-base) !default;
$screen-sm-min:              $screen-sm !default;

// Medium screen / desktop
$screen-md:                  768px !default; //em($md-num, $font-size-base) !default;
$screen-md-min:              $screen-md !default;

// Large screen / wide desktop
$screen-lg:                  1024px !default; //em($lg-num, $font-size-base) !default;
$screen-lg-min:              $screen-lg !default;

//XLarge screen / super wide desktop
$screen-xl:                  1440px !default;
$screen-xl-min:              $screen-xl !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm - 1) !default; //em(($sm-num - 1)) !default;
$screen-sm-max:              ($screen-md - 1) !default; //em(($md-num - 1)) !default;
$screen-md-max:              ($screen-lg - 1) !default; //em(($lg-num - 1)) !default;
$screen-lg-max:              ($screen-xl - 1) !default; //em(($xl-num - 1)) !default;

#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 600px;
}
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  letter-spacing: 0;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}
.container-fluid {
  margin-bottom: 5rem;
}

.jumbotron {
  background-color: rgb(238, 238, 238);
  overflow:hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 1;

  h1 {
    color: black;
    font-family: 'Lato', sans-serif;
    opacity: 0.8;
  }
}

nav {
  padding-top: 20px;
}

.form {
  width: 60%;
}

.error {
  color: red;
}

a {
  &.action-btn {
    height: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    padding: 20px !important;
    /*font-family: 'Raleway', sans-serif;*/
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 5px;
    border: 3px solid darkslategrey !important;
    color: darkslategrey !important;
    display: block !important;
    width: 30%;
    margin: 25px auto !important;
    text-align: center;
    border-radius: 4px;
  }

  &.action-btn:hover {
    background-color: darkslategrey !important;
    color: #eeeeee !important;
  }

  &:hover {
    color: #eee;
    background-color: darkslategrey !important;
  }

  &.active {
    color: #eee;
    background-color: darkslategrey !important;
  }

  .logout-btn {
    font-family: 'Lato', sans-serif;
    padding: 5px 25px !important;
    background-color: #eee;
    border-radius: 15px;
    border: 1px solid darkslategrey !important;

    &:hover {
      background-color: black !important;
      color: #eee !important;
    }
  }

  .navbar-text {
    color: black;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.15rem;
  }
}

.tidus-form {
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  padding: 25px;
  margin: 0 auto;

  label {
    color: black;
    margin-bottom: 15px;
    letter-spacing: 0.25rem;
    font-family: 'Raleway', sans-serif;
  }

  .field {
    input {
      opacity: 0.8;
      color: black;
    }
  }
}

.tidus-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  background-color: #dddddd;
  border-top: 1px darkslategrey solid;
  border-bottom: 1px darkslategrey solid;
  text-align: center;

  p {
    margin-top: 10px;
    letter-spacing: 0.05rem;
  }
}

/*Moving onto playlist stuff*/
.instructions {
  font-family: 'Lato', sans-serif;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  letter-spacing: 0.05rem;

  h1 {
    margin-top: 15px;
  }
}

.playlist-name {
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.05rem;
  font-size: 18px;

  &:hover {
    color: #dddddd;
    cursor: pointer;
  }
}


.spotify-track-item {
  padding-bottom: 10px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.05rem;
}

/*Data table*/
.data-table {
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.05rem;
  /*display: block;overflow-y: scroll;*!*/
  max-height: 570px;
  display: block;

  tbody {
    overflow-y: scroll;
    max-height: 530px;
    display: block;
  }

  tr {
    th {
      display: inline-block;
      overflow-x: hidden;
      letter-spacing: 0.15rem;

      &:hover {
        cursor: pointer;
        background-color: darkslategrey;
        color: #eee;
      }
    }

    .track-name {
      min-width: 285px;
    }
  }


}

/*About Page*/
.attribute-info {
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.15rem;
}

span {
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.15rem;
}

.loader-container {
  position: fixed;
  top: 50%;
  left: 47%;
  display: block;
  z-index: 100;
}

.loader:after,
.loader:before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.spin{
  &::after {
    position: absolute;
    top: -4px;
    left: -4px;
    border: 4px solid transparent;
    border-top-color: green;
    border-bottom-color: green;
    animation: spinny 1s linear infinite;
  }
}

@keyframes spinny {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(45deg) scale(1.2);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

.home-jumbo-block {
  width: 80%;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.playlists-list {
  max-height: 570px;
  overflow-y: auto;
  margin-top: 15px;
}
.divider {
  border-top: 1px solid black;
  opacity: 0.25
}

.optimize-container {
  h1 {
    font-family: 'Lato', sans-serif;
  }
}

.radio-btn-group {
  width: 100%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  margin-top: 25px;
}

.radio-btn {
  display: inline;
  margin-right: 15px;
}

.radio-btn {
  label {
    padding-right: 10px;
  }
}

.analyzed-track-table {
  max-height: 650px;
}

.analyzed-track-table .header-row {
  display: inline-block;
}

.spotify-playlists-container {
  h1,
  p {
    text-align: center;
  }
}

.spotify-playlists-col {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  padding-right: 25px;
}

.analyzed-track-table-col {
  padding-left: 25px;
}
