/* Styles */
@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather|Open+Sans|Open+Sans+Condensed:300|Raleway');
#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 600px;
  max-width: 1100px;
  margin: 0 auto;
}
html {
    height: 100%;
    box-sizing: border-box;
}

body {
    background-color: #eeeeee;
    letter-spacing: 0;
    position: relative;
    margin: 0;
    padding-bottom: 6rem;
    min-height: 100%;
}
.container-fluid {
    margin-bottom: 5rem;
}

.jumbotron {
    background-color: rgb(238, 238, 238);
    overflow:hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    z-index: 1
}
.jumbotron h1 {
    color: black;
    font-family: 'Lato', sans-serif;
    opacity: 0.8;
}

nav {
  padding-top: 20px;
}


.form {
  width: 60%;
}

.error {
  color: red;
}

a.action-btn{

    height: 50px;
    border-radius: 15px;
    padding: 20px !important;
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    line-height: 5px;
    border: 3px solid darkslategrey !important;
    color: darkslategrey !important;
    display: block !important;
    width: 50%;
    margin: 25px auto !important;
    text-align: center;
}

a.action-btn:hover {
    background-color: #fff !important;
    color: black !important;
}

a.logout-btn{
    font-family: 'Lato', sans-serif;
    padding: 5px 25px !important;
    background-color: #eee;
    border-radius: 15px;
    border: 1px solid darkslategrey !important;
}

a.logout-btn:hover{
    background-color: black !important;
    color: #eee !important;
}

a, .navbar-text {
    color: black;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.15rem;
}
a:hover {
    color: #eee;
    background-color: darkslategrey !important;
}

a.active {
    color: #eee;
    background-color: darkslategrey !important;
}

.tidus-form {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 25px;
    margin: 0 auto;
}

.tidus-form label {
    color: black;
    margin-bottom: 15px;
    letter-spacing: 0.25rem;
    font-family: 'Raleway', sans-serif;
}

.tidus-form .field input {
    opacity: 0.8;
    color: black;
}

.tidus-footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 2rem;
    background-color: #dddddd;
    border-top: 1px darkslategrey solid;
    border-bottom: 1px darkslategrey solid;
    text-align: center;
}

.tidus-footer p{
    margin-top: 10px;
}

/*Moving onto playlist stuff*/
.instructions {
    font-family: 'Merriweather', sans-serif;
    border-bottom: 1px darkslategray solid;
    letter-spacing: 0.05rem;
}
.playlist-name {
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.05rem;
}

.playlist-name:hover {
    color: midnightblue;
    cursor: pointer;
}

.spotify-track-item{
    padding-bottom: 10px;
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.05rem;
}

/*Data table*/

.data-table {
    font-family: 'Lato', sans-serif;
    letter-spacing: 0.05rem;
}