/* Styles */
@import url('https://fonts.googleapis.com/css?family=Lato|Merriweather|Open+Sans|Open+Sans+Condensed:300|Raleway');

//== Media queries breakpoints
// Small screen / tablet
$screen-sm:                  540px !default; //em($sm-num, $font-size-base) !default;
$screen-sm-min:              $screen-sm !default;

// Medium screen / desktop
$screen-md:                  768px !default; //em($md-num, $font-size-base) !default;
$screen-md-min:              $screen-md !default;

// Large screen / wide desktop
$screen-lg:                  1024px !default; //em($lg-num, $font-size-base) !default;
$screen-lg-min:              $screen-lg !default;

//XLarge screen / super wide desktop
$screen-xl:                  1440px !default;
$screen-xl-min:              $screen-xl !default;

// So media queries don't overlap when required, provide a maximum
$screen-xs-max:              ($screen-sm - 1) !default; //em(($sm-num - 1)) !default;
$screen-sm-max:              ($screen-md - 1) !default; //em(($md-num - 1)) !default;
$screen-md-max:              ($screen-lg - 1) !default; //em(($lg-num - 1)) !default;
$screen-lg-max:              ($screen-xl - 1) !default; //em(($xl-num - 1)) !default;

$light-gray-border: 1px solid rgba(0, 0, 0, 0.1);

/* The animation code */
@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: 1; }
}

#app {
  font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #4d4d4d;
  min-width: 380px;
}
html {
  height: 100%;
  box-sizing: border-box;
}

body {
  background-color: #EEE;
  letter-spacing: 0;
  position: relative;
  margin: 0;
  padding-bottom: 6rem;
  min-height: 100%;
}
.container-fluid {
  margin-bottom: 5rem;
  width: 90%;
}

.jumbotron {
  background-color: rgb(238, 238, 238);
  overflow:hidden;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  z-index: 1;
  padding-bottom: 50px !important;

  @media screen {
    padding: 20px;
  }

  h1 {
    color: black;
    font-family: 'Lato', sans-serif;
    opacity: 0.8;
  }
}

nav {
  padding-top: 20px;
}

.navbar {
  @media screen and (max-width: $screen-xs-max) {
    margin-bottom: 0;
  }
}

.error {
  color: red;
}

.action-btn {
  display: block;
  height: 50px;
  min-width: 200px;
  margin: 25px auto;
  border: 3px solid #144E2D;
  border-radius: 4px;
  background-color: #EEEEEE;
  color: #144E2D;
  text-align: center;
  font-family: 'Helvetica Neue', sans-serif;
  font-size: 18px;
  font-weight: 300;
  line-height: 5px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);

  @media screen and (max-width: $screen-xs-max) {
    height: 40px;
    min-width: 100px;
    padding: 14px;
    font-size: 14px;
  }

  &:hover {
    color: #eee;
    background-color: #144E2D;
  }

  &.active {
    color: #eee;
    background-color: #144E2D;
  }
}

.navbar-text {
  color: black;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.15rem;
}

.tidus-footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 2rem;
  background-color: #DDD;
  border-top: 1px #144E2D solid;
  border-bottom: 1px #144E2D solid;
  text-align: center;

  p {
    margin-top: 10px;
    letter-spacing: 0.05rem;
  }
}

/* playlist stuff */
.instructions {
  font-family: 'Lato', sans-serif;
  border-bottom: $light-gray-border;
  letter-spacing: 0.05rem;

  h1 {
    font-size: 26px;
    margin-top: 15px;
  }
}

.playlist-name {
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.05rem;
  font-size: 18px;

  &:hover {
    color: #dddddd;
    cursor: pointer;
  }
}


.spotify-track-item {
  padding-bottom: 10px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.05rem;
}

/* Data table */
.data-table {
  display: block;
  max-height: 570px;
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.05rem;
  animation-name: fadeIn;
  animation-duration: 2s;

  @media screen and (max-width: $screen-md-max) {
    padding: 0;
  }
}

/* About Page */
.attribute-info {
  font-family: 'Lato', sans-serif;
  letter-spacing: 0.15rem;
}

span {
  font-family: 'Lato', sans-serif;
  letter-spacing: 1px;
}

.loader-container {
  position: fixed;
  top: 50%;
  left: 47%;
  display: block;
  z-index: 100;
}

.loader:after,
.loader:before {
  content: "";
  display: block;
  width: 100px;
  height: 100px;
  border-radius: 50px;
}

.spin{
  &::after {
    position: absolute;
    top: -4px;
    left: -4px;
    border: 4px solid transparent;
    border-top-color: green;
    border-bottom-color: green;
    animation: spinny 1s linear infinite;
  }
}

@keyframes spinny {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(45deg) scale(1.2);
  }

  100% {
    transform: rotate(360deg) scale(1);
  }
}

.home-jumbo-block {
  display: block;
  margin-top: 45px;
  margin-right: auto;
  margin-left: auto;

  @media screen and (max-width: $screen-md-max) {
    width: 100%;
  }

  @media screen and (max-width: $screen-sm-max) {
    h1 {
      font-size: 32px;
    }

    p {
      font-size: 16px;
    }
  }

  @media screen and (max-width: $screen-xs-max) {
    p {
      font-size: 14px;
      margin-bottom: 25px;
    }

    .container-fluid {
      margin-bottom: 0;
    }
  }
  &.is-unauth {
    animation-name: fadeIn;
    animation-duration: 2s;
  }

  .container-fluid {
    width: 100%;
    margin-bottom: 25px;
  }
}

.playlists-list {
  max-height: 570px;
  overflow-y: auto;
  margin-top: 15px;

  .col-md-12 {
    padding-left: 0;
  }
}
.divider {
  border-top: 1px solid black;
  opacity: 0.25
}

.optimize-container {
  h1 {
    margin-top: 10px;
    font-weight: 400;
    font-family: 'Lato', sans-serif;
  }

  .optimize-display {
    padding: 0;
    margin-bottom: 25px;

    .top-track {
      padding: 10px;
    }

    .artist {
      font-size: 18px;
      font-weight: 600;
    }

    .rating {
      text-align: right;
    }
  }
}

.radio-btn-group {
  width: 100%;
  text-align: center;
  font-family: 'Lato', sans-serif;
  margin-top: 15px;
  margin-bottom: 25px;
}

.radio-btn {
  display: inline;
  margin-right: 15px;

  label {
    letter-spacing: 0.4px;
    font-size: 16px;
    font-weight: 500;
    padding-right: 10px;
  }
}

.analyzed-track-table {
  max-height: 650px;

  .header-row {
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 103.3%;
    border-bottom: $light-gray-border;
    font-family: 'Lato', sans-serif;
    font-weight: 600;

    div {
      padding-left: 0;
      padding-right: 0;
      font-size: 14px;

      @media screen and(max-width: $screen-md-max) {
        width: 100px;
      }

      @media screen and(max-width: $screen-sm-max) {
        font-size: 12px;
      }

      @media screen and(max-width: $screen-xs-max) {
        font-size: 8px;
      }

      &:hover {
        cursor: pointer;
        color: #DDD;
      }
    }

    @media screen and(max-width: $screen-lg-min) {
      display: flex;
      justify-content: space-between;
      margin: 0;
    }
  }

  .track-row {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 12px;

    div {
      padding-left: 0;
      padding-right: 0;
    }

    &:first-of-type {
      padding-top: 15px;
    }

    @media screen and(max-width: $screen-lg-min) {
      display: flex;
      justify-content: space-between;

      .col-md-2 {
        width: 90px;
      }
    }

    @media screen and(max-width: $screen-xs-max) {
      font-size: 8px;
    }
  }

  .pagination {
    position: relative;
    right: 25px;
  }
}

.spotify-playlists-container {
  .pagination {
    position: relative;
  }
}

.spotify-playlists-col {
  padding-right: 25px;
}

.analyzed-track-table-col {
  padding-left: 25px;

  @media screen and (min-width: $screen-lg-min) {
    border-left: $light-gray-border;
  }

  @media screen and(max-width: $screen-md-max) {
    padding-left: 15px;
  }
}

.pagination-container {
  .pagination > li {
    display: inline-block;
    padding-left: 5px;
    padding-right: 5px;

    a {
      color: #666;
      background-color: white;
      border-color: #EEE;
      outline: none;

      &:focus {
        outline: none;
        border-color: white;
      }
    }

    &:hover {
      cursor: pointer;

      a {
        color: #EEE;
      }
    }

    &.active {
      a {
        color: #144E2D;
        background-color: #EEEEEE;
        border-color: white;
      }

      &:hover {
        a {
          color: #EEE;
        }
      }
    }

    &.divider {
      border: none;
    }
  }
}

.pagination-parent {
  width: 100%;
}

.paginated-items {
  @media screen and (max-width: $screen-md-max) {
    max-height: 460px;
    overflow-y: auto;
  }

  @media screen and (max-width: $screen-sm-max) {
    padding-left: 20px;
  }
}

.optimize-action {
  .make-playlist-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  span {
    margin-bottom: 15px;
  }

  input {
    height: 40px;
    width: 100%;
    padding: 5px;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;

    &:focus {
      outline: 0;
    }
  }

  .btn {
    float: left;
    width: 25%;
    font-family: 'Lato', sans-serif;
    margin: 15px 0 0 0;
    box-shadow: none;
  }
}
